* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    appearance: none;
    font-family: "Poppins", sans-serif;
}

.btn {
    height: 2.5rem;
    background: rgb(87, 151, 87);
    border-radius: 7px;
    width: 60%;
    border: none;
    margin-top: 3rem;
    color: white;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 25rem auto;
    background: rgb(243, 243, 243);
}

.left-side {
    background: url(./images/markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.odin-img img{
    width: 6rem;
    height: 6rem;
}

.left-side .content {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    background: rgba(0, 0, 0, 0.50);
    padding: 1rem;
}

.right-side .text-top {
    margin: 6rem 3rem 3rem 3rem;
}

.right-side .text-top h3{
    margin-bottom: 1rem;
}

.right-side .form {
    background: white;
    padding: 1.5rem;
    width: 100%;
    height: 15rem;
    box-shadow: 0 0.2rem 0.4rem rgb(211, 209, 209);
}

.right-side .form form {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 1rem;
    margin-left: 1.5rem;
}

.right-side .form form .userinput {
    display: grid;
}

.right-side .form h3 {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

.right-side .form form .userinput input {
    width: 80%;
    border-radius: 4px;
    height: 1.5rem;
    border: 1px solid grey;
}

.right-side .form form .userinput input::after {
    border-color: aliceblue;
}

.right-side .form form .userinput span {
    font-size: 0.75rem;
}

.right-side .form .log-in {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.right-side .form .log-in a{
    color: rgb(87, 151, 87);
}

.right-side .form .log-in p {
    font-weight: 400;
}

@media screen and (max-width: 1150px) {
    main{
        grid-template-columns: 23rem auto;
    }
    .right-side .form form {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        gap: 1rem;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    main{
        grid-template-columns: 1fr;
    }
    .right-side .form form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-left: 1.5rem;
    }
    .right-side .form {
        background: white;
        padding: 1.5rem;
        width: 100%;
        height: 25rem;
        box-shadow: 0 0.2rem 0.4rem rgb(211, 209, 209);
    }
    .right-side .form .log-in {
        padding-bottom: 2rem;
    }
}